*{
    margin: 0;
    padding: 0;
}
.container{
    margin: 0 auto;
    max-width: 1400px;
    height: 96%;
}
/*header area start*/
.header-area{
    background-color: cornflowerblue;
}
.header{
    display: flex;
    height: 133px;
    justify-content: space-between;
    align-items: center;
}
.header ul li{
    list-style: none;
    display: inline-block;
}
.header ul li a{
    text-decoration: none;
    margin-right: 10px;
}
button{
    padding: 10px;
    background-color: cornflowerblue;
    border: 1px solid #000;
}
button a{
    text-decoration: none;
    color: #000;
}
/*header area end*/
/*banner area start*/

.banner-area{
    position: relative;
    background-image: url(images/banner.jpg);
    background-size: cover;
    height: 616px;
    width: 100%;
    
}
.banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.banner-text h1{
    color:wheat;
}
button{
    color: aliceblue;
}
/*banner area end*/
/*principal area start*/

.principal-area{
    background-color: cornflowerblue;
}
.principal{
    display: flex;
    padding: 40px 0 40px 0;
    
}
.principal-img{
    margin-right: 100px;
}
.principal-text{
    width: 578px
    height: 285px
    top: 1010px
    left: 710px

}
button{
    padding: 10px;
    background-color: darkslategray;
    border: 1px;
}
button a{
    text-decoration: none;
    color: #000;

}
/*principal area end*/
/*life area start*/
.life-area{
    background-color: cornflowerblue;
}
.life{
    display: flex;
    padding: 20px 0 20px 0;
}
.life-img{
    margin-left: 850px;
    
}
.life-text{
    position: absolute;
    text-align: center;
    width: 601px;
    height: 58px;
   top: 1700px;
   left: 119px;

}
/*life area end*/
.Services-area{
    background-color: cornflowerblue;
}

/*philosopyarea start*/
.Philosophy-area{
    background-color: cornflowerblue;
}
.Philosophy {
    display: flex;
    padding: 40px 0 40px 0;
    
}
.Philosophy-img{
    margin-right: 50px;
}
.Philosophy-text{
    width: 603px;
height: 400px;
top: 3710px;
left: 781px;
}
.find-area{
    background-color: cornflowerblue;
}
.find{
    display: flex;
    padding: 20px 0 20px 0;
}
.find-img{
    margin-left: 850px;
    
}
.find-text{
    position: absolute;
    text-align: center;
    width: 601px;
    height: 58px;
    top: 3400px;
    left: 119px;
}